<?xml version="1.0"?>
<Configuration>
  <ChatServer DisplayName="WOE Server">
    <TCPListeners>
      <TCPListener
          IPAddress="0.0.0.0"
          Port="4530"
          OverrideApplication="WOEServer"
                >
      </TCPListener>
    </TCPListeners>
    <!-- Defines the Photon Runtime Assembly to use. -->
    <Runtime
        Assembly="PhotonHostRuntime, Culture=neutral"
        Type="PhotonHostRuntime.PhotonDomainManager"
        UnhandledExceptionPolicy="Ignore">
    </Runtime>
    <!-- other elements -->
    <Applications Default="WOEServer">
      <Application
          Name="WOEServer"
          BaseDirectory="WOEServer"
          Assembly="WOEServer"
          Type="WOEServer">
      </Application>
      <!-- any other applications -->
    </Applications>
    <!-- other elements -->
  </ChatServer>
</Configuration>